@page
@model dummy_CRUD.Pages.clients.VaultSecretModel
@{
    ViewData["Title"] = "Vault Secret";
}

<h2>Vault Secret</h2>

@if (Model.SecretValue != null)
{
    <div>
        Secret Value: @Model.SecretValue
    </div>
    <div>
        Host Value: @Model.HostValue
    </div>
    <div>
        ApiKey Value: @Model.ApiKey
    </div>


}
else
{
    <div>
        Failed to retrieve the secret.
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

